.h-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.v-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
