/* --- Hiding Controls  --- */
.ums-ui-hidden * {
    cursor: none !important;
}

.ums-ui-hidden.jwplayer > .jw-wrapper > :not(.jw-media, .jw-captions),
.ums-ui-hidden.video-js > :not(video, .vjs-text-track-display),
.ums-ui-hidden.plyr > :not(.plyr__video-wrapper),
.ums-ui-hidden.ytd-player
    > .html5-video-player
    > :not(.html5-video-container, .ytp-caption-window-container),
.ums-ui-hidden.pjscssed > :not(:has(> video), #pjs_player_parent_subtitle),
.ums-ui-hidden[class*="Container-module"][class*="player"]
    > :not(:has(> video), [class*="VideoLayout-module"][class*="captions"]),
.ums-ui-hidden#videasy-player-wrapper .videasy-container > :nth-child(2) > :not(div:has(> span)) {
    display: none !important;
}

/* --- Hiding Subtitles --- */
.ums-cc-hidden.jwplayer > .jw-wrapper > .jw-captions,
.ums-cc-hidden.video-js > .vjs-text-track-display,
.ums-cc-hidden.plyr > .plyr__video-wrapper,
.ums-cc-hidden.ytd-player > .html5-video-player > .ytp-caption-window-container,
.ums-cc-hidden.pjscssed > #pjs_player_parent_subtitle,
.ums-cc-hidden[class*="Container-module"][class*="player"]
    > [class*="VideoLayout-module"][class*="captions"],
.ums-cc-hidden#videasy-player-wrapper .videasy-container > :nth-child(2) > div:has(> span) {
    display: none !important;
}

/* --- Patches --- */
/* handle subtitles jumping on pause in jw-player */
.ums-ui-hidden.jwplayer > .jw-wrapper > .jw-captions {
    max-height: none !important;
}

/* handle dark backdrop in DoodStream player */
.ums-ui-hidden.video-js > .vjs-text-track-display {
    background: none !important;
}

/* handle subtitles jumping on pause in Videasy player */
.ums-ui-hidden#videasy-player-wrapper .videasy-container > :nth-child(2) > div:has(> span) {
    bottom: 1.5rem !important;
}

/* handle grayscale filter and zoom effects when paused in PlayerJS player */
.ums-ui-hidden.pjscssed > :has(video),
.ums-ui-hidden.pjscssed > :has(video) > video {
    transform: none !important;
    filter: none !important;
}
